* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  color: #757575;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  /*background-image: url('https://i.pinimg.com/736x/63/56/61/63566159dc2325794ffee7348862d4ab.jpg');*/
}

.navigation {
  width: 100%;
  min-height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}
.navigation .logo {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #414f57;
  margin: 16px;
  cursor: pointer;
  padding: 10px 0;
}
.navigation .logo span {
  font-family: inherit;
  font-weight: 500;
}
.navigation__bar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 0px rgba(52, 72, 84, 0.1);
}
.navigation__menu_horizontal {
  width: 50%;
  max-width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: 72px;
}
.navigation__menu_horizontal ul {
  display: inline-flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navigation__menu_horizontal ul li {
  min-width: 16.66%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s background-color ease;
}
.navigation__menu_horizontal ul li a {
  text-decoration: none;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  color: #768591;
  transition: 0.2s color ease;
}
.navigation__menu_horizontal ul li:hover {
  background-color: #f0f0f0;
}
.navigation__menu_horizontal ul li:hover > a {
  color: #000;
}
.test{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test .test-box{
    width: 600px;
    padding: 32px;
    box-shadow:         rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

        backdrop-filter: blur(21px) saturate(43%);
    -webkit-backdrop-filter: blur(21px) saturate(43%);
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.test .test-box .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.test .test-box .top #timer{
    font-weight: bold;
    font-size: 24px;
}

.test .test-box .top .info-dropdown{
    cursor: pointer;
}

.test .test-box .top .info-dropdown:hover{
    color: grey;
}

.test .test-box p{
    font-size: 16px;
    color: #999999;
    display: flex;
    align-items: center;
}

.test .test-box p span {
    transform: rotate(0deg);
}
.textarea-wrapper{
    display: flex;
    width: 100%;
}

.test .test-box .text-wrapper{
    width: 100%;
    height: 75px;
    margin: 48px 0;
    display: block;
    overflow: hidden;   
    position: relative;
}
.test .test-box .text{
    width: 100%;
    position: relative;
    display: block;
}

#report{
    width: 100%;
    height: 96%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

#reportWPM{
    height: 75px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#reportWPM h1{
    color: #909090;
    font-size: 36px;
}

#reportWPM p{
    margin-top: 8px;
}

#reportDetails{
    height: 75px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.correct{
    color: #93C572;
}
.incorrect{
    color: #fa8072; 
    /*#b43757;*/
}

.current{
    background-color: #efefef;
}

.test .test-box textarea{
    width: 87%;
    height: 36px;
    padding-left:    3%;
    padding-top: 16px;
    outline:    none;
    border:     none;
    resize:     none;
    overflow-y: hidden;
    background-color: #efefef;
    color: #606060;
    caret-color: #93C572;
    font-size: 16px;
    margin-bottom: 24px;
}

.test .test-box button{
    width: 10%;
    height: 52px;
    outline: none;
    border: none;
    color: #757575;
    background-color: #eaeaea;
}

.test .test-box button:focus{
    background-color: #e0e0e0;
}

.test-log{
    width: 100%;
    height: 100px;
    display: none;
    background-color: #757575;
}

canvas{
    margin-left: auto;
}

.word{
    font-size: 1.4rem;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    padding: 0 3px;
    position: relative;
}

.currWord{
    background-color: #eaeaea;
}

.currentlyWrong{
    background-color: #fa8072;
    color: white ;
}

.left-right-pad{
    padding: 0 8px;
}

.font-green{
    color: #93C572;
}

.font-red{
    color: #fa8072; 
}


/*# sourceMappingURL=style.251b6741.css.map */